@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: violet;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
#contenitore-background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid black;
    

}
.ds-img{
    width: 70%;
    height: 95%;

}

.screen1{
    background-color:yellow;
    top: 12.5%;
    width: 36%;
    height: 34%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px ;
    perspective: 1000px; 
    overflow: visible;
    
    
     
}

.text1{
    font-size: 12px;
    border: 2px solid black;
    width: 35%;
    height: 79%;
    text-align: center;
    backface-visibility: hidden; 
    transform: rotateY(0deg);  
    transition: transform 0.5s ease, opacity 0.5s ease;  
    opacity: 0.5; 
    position: absolute; 
    

}
.text1.attivo {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
    z-index: 2;
    cursor: default;
    width: 60%;
}
.text1.sinistra {
    transform: translateX(-78%) scale(0.7) rotateY(-55deg);
    opacity: 0.7;
    z-index: 1;
    left: 20%;
}
.text1.destra {
    transform: translateX(78%) scale(0.7) rotateY(55deg);
    opacity: 0.7;
    z-index: 1;
    right: 20%;
}
    


.screen2{
    background-color: grey;
    top: 58.6%;
    width: 29.2%;
    height: 23%;
    position: absolute;
    transform: perspective(560px) rotateX(20deg);
    transform-origin: top;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: visible;
    transition: transform 0.5s ease-in-out;
}
.text{
    padding: 5px;
    font-size: 10px;
    width: 33%;  
    text-align: center;
    backface-visibility: hidden;  
    transform: rotateY(0deg);  
    transition: transform 0.5s ease, opacity 0.5s ease; 
    opacity: 0.5;  
    position: absolute;  
}
.text.attivo {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
    z-index: 2;
    cursor: default;
}
.text.sinistra {
    transform: translateX(-90%) scale(0.7) rotateY(-15deg);
    opacity: 0.7;
    z-index: 1;
}
.text.destra {
    transform: translateX(90%) scale(0.7) rotateY(15deg);
    opacity: 0.7;
    z-index: 1;
}
.btn1{
    position: absolute;

    left: 20%;
    top: 76.5%;
    opacity: 20%;
    
}
.btn2{
    position: absolute;
    left: 25%;
    top: 76.5%;
    opacity: 20%;
    
}
button{
    width: 35px;
    height: 30px;
    border-radius: 15px;
}
.attivo{
    border: 3px solid green;
}