@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: violet;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
#contenitore-background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid black;
    

}
.ds-img{
    width: 70%;
    height: 95%;

}

.screen1{
    background-color:grey;
    top: 12.5%;
    width: 36%;
    height: 34%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px ;
    perspective: 1000px; 
    overflow: visible;
    
    
    
     
}

.text1{
    
    font-size: 12px;
    border: 2px solid black;
    width: 35%;
    height: 79%;
    text-align: center;
    justify-content: center;
    backface-visibility: hidden; 
    transform: rotateY(0deg);  
    transition: transform 0.5s ease, opacity 0.5s ease;  
    opacity: 0.5; 
    position: absolute; 
    

}
.text1.attivo {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
    z-index: 2;
    cursor: default;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1.sinistra {
    transform: translateX(-78%) scale(0.7) rotateY(-55deg);
    opacity: 0.7;
    z-index: 1;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1.destra {
    transform: translateX(78%) scale(0.7) rotateY(55deg);
    opacity: 0.7;
    z-index: 1;
    right: 20%;
     display: flex;
    justify-content: center;
    align-items: center;
}
/* classi per la prima parte*/
.active1st{
        opacity: 1;
        transform: scale(1) rotateY(0deg);
        z-index: 2;
        cursor: default;
        width: 100% !important;
        height: 100% ;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        
}
.hidden{
    opacity: 0 !important; 
    transition: 0s !important;
}
.nascosto{
    display: none !important;

}
.proj1stPage{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.screen2{
    background-color: grey;
    top: 58.6%;
    width: 29.2%;
    height: 23%;
    position: absolute;
    transform: perspective(560px) rotateX(20deg);
    transform-origin: top;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: visible;
    transition: transform 0.5s ease-in-out;
}
.text{
    padding: 5px;
    font-size: 10px;
    width: 33%;  
    text-align: center;
    backface-visibility: hidden;  
    transform: rotateY(0deg);  
    transition: transform 0.5s ease, opacity 0.5s ease; 
    opacity: 0.5;  
    position: absolute;  
}
.text.attivo {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
    z-index: 2;
    cursor: default;
}
.text.sinistra {
    transform: translateX(-90%) scale(0.7) rotateY(-15deg);
    opacity: 0.7;
    z-index: 1;
}
.text.destra {
    transform: translateX(90%) scale(0.7) rotateY(15deg);
    opacity: 0.7;
    z-index: 1;
}
.attivo{
    border: 3px solid green;
}


#pulsanti{
    background-color: transparent;
    width: 20%;
    position: absolute;
    width: 13%;
    height: 15%;
    top: 59%;
    left: 68%;
    transform: perspective(800px);
}
.pulsanteA{
    position: absolute;
    width: 27%;
    height: 25%;
    top: 37%;
    left: 64%;
    border: none;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: rotatex(20deg);
    background-color: grey;
    box-shadow: 0px 5px 0px #555 ;
    cursor: pointer;
    

}
.pulsanteB{
    position: absolute;
    width: 27%;
    height: 25%;
    top: 63%;
    left: 37%;
    border: none;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: rotatex(20deg);
    background-color: grey;
    box-shadow: 0px 5px 0px #555 ;
    cursor: pointer;
}
.pulsanteY{
   position: absolute;
    width: 27%;
    height: 25%;
    top: 37%;
    left: 7%;
    border: none;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: rotatex(20deg);
    background-color: grey;
    box-shadow: 0px 5px 0px #555 ;
    cursor: pointer; 
}
.pulsanteX{
    position: absolute;
    width: 27%;
    height: 25%;
    top: 10%;
    left: 32%;
    border: none;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: rotatex(20deg);
    background-color: grey;
    box-shadow: 0px 5px 0px #555 ;
    cursor: pointer;
}
.pulsanteA:hover{
    box-shadow: none;
    box-shadow: 0px 2px 0px ;
    transform:  translatey(1.5%);  
    transition: 0.5s; 
}
.pulsanteB:hover{
    box-shadow: none;
    box-shadow: 0px 2px 0px ;
    transform:  translatey(1.5%);  
    transition: 0.5s; 
}
.pulsanteY:hover{
    box-shadow: none;
    box-shadow: 0px 2px 0px ;
    transform:  translatey(1.5%);  
    transition: 0.5s; 
}
.pulsanteX:hover{
    box-shadow: none;
    box-shadow: 0px 2px 0px ;
    transform:  translatey(1.5%);  
    transition: 0.5s; 
}
#pulsantiSotto{
    background-color: transparent;
    width: 45%;
    height: 6%;
    position: absolute;
    top: 84%;
    left: 33%;
    transform: perspective(800px);
   

}
.pulsanteP{
    background-color: grey;
    position: absolute;
    width: 7%;
    height: 60%;
    right: 11%;
    top: 5%;
    border-radius:2px;
    border: none;
    transform-style: preserve-3d;
    transform: skewX(7deg);
    box-shadow: -2px 4px 1.5px #555;
}
.pulsanteP:hover{
    box-shadow: none;
    box-shadow: 0px 2px 0px ;
    transform: translateY(0.8px) skewX(7deg);
    transition: 0.3s;
}
.pulsanteH{
    position: absolute;
    background-color: grey;
    border: none;
    width: 17%;
    height: 30%;
    right: 54%;
    top: 37%;
    border-radius: 3px;
    box-shadow: 0px 2.5px 0px #555;
}
.pulsanteH svg{
    width: 30%;
    height: 100%;
}
.pulsanteH:hover{
    box-shadow: 0px 2px 0px ;
    transform: translateY(4%); 
    transition: 0.3s;
}
.pulsanteST{
   position: absolute;
    background-color: grey;
    border: none;
    width: 17%;
    height: 30%;
    right: 30%;
    top: 37%;
    border-radius: 3px;
    box-shadow: 0px 2.5px 0px #555; 
}
.pulsanteST:hover{
    box-shadow: 0px 2px 0px ;
    transform: translateY(4%); 
    transition: 0.3s;
}
.pulsanteSE{
    position: absolute;
    background-color: grey;
    border: none;
    width: 17%;
    height: 30%;
    right: 79%;
    top: 37%;
    border-radius: 3px;
    box-shadow: 0px 2.5px 0px #555; 
}
.pulsanteSE:hover{
    box-shadow: 0px 2px 0px ;
    transform: translateY(4%); 
    transition: 0.3s;
}
#pulsantiAlato{
    background-color: transparent;
    width: 15%;
    height: 15%;
    position: absolute;
    top: 72%;
    left: 17%;
    perspective: (800px);
    
}
.btnL{
   position: absolute;
   background-color:grey; 
   right: 53%;
   top: 34%;
   width: 25%;
   height: 20%;
   clip-path: polygon(
      0% 0%,
      70% 0%,
      100% 50%,
      70% 100%,
      0% 100%
   );
   border: none;
   cursor: pointer;
   transform: rotate(2deg);
   
}

.btnR{
   position: absolute;
   background-color:grey; 
   left: 55%;
   top: 34%;
   width: 25%;
   height: 20%;
   clip-path: polygon(
      30% 0%,
      100% 0%,
      100% 100%,
      30% 100%,
      0% 50%
   );
   border: none;
   cursor: pointer;
   transform: rotate(1.5deg)
}
.btnU{
    position: absolute;
   background-color:grey; 
   left: 41%;
   top: 14%;
   width: 20%;
   height: 29%;
   clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 70%,
      50% 100%,
      0% 70%
   );
   border: none;
   cursor: pointer;
   transform: rotate(3.8deg);


   
}
.btnD{
   position: absolute;
   background-color:grey; 
   left: 39%;
   top: 45%;
   width: 20%;
   height: 29.6%;
   clip-path: polygon(
      50% 0%,
      100% 30%,
      100% 100%,
      0% 100%,
      0% 30%
   );
   border: none;
   cursor: pointer;
   transform: rotate(3.8deg);

}
.riempitivo{
    position: absolute;
   background-color:grey; 
   left: 33%;
   top: 34.5%;
   width: 31%;
   height: 19.9%;
   transform: rotate(deg);
}


.btnU:hover{
    transform:  translateY(3%) rotate(3.8deg); ;
}
.btnD:hover{
    transform: translateY(3%) rotate(3.8deg);
}
